<!DOCTYPE html>
<html>
  <head>
    <title>Ideas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class='navbar navbar-light bg-light mb-5'>
    <a class="nav-link" href="/">
          <img
          class="images" 
          src="/assets/images/imag.png"
          height="70px"
          alt="imag"
        /></a>

      <span class='navbar-brand mb-0 h1'>Idea Factory</span>
      <ul style="float: right;">
        <%= link_to 'Home', root_path, class: 'btn' %>
        
        <%= link_to 'Create User', new_user_path, class: 'btn'%>
   
        <div>
       <% if user_signed_in? %>
      <%= link_to "Sign out", session_path, method: :delete, class: 'btn btn-danger' %>
      <%= current_user.first_name %> <%= current_user.last_name %>
       <%= link_to 'New Idea', new_idea_path, class: 'btn'%>
       <% else %>
      <%= link_to "Sign In", new_session_path, class: 'btn btn-success'%>
      <% end %>

        </div>
      </ul>
    </nav>






   <% flash.each do |type, message| %>
        <div class='bg-<%= type %> p-1 rounded mb-3 shadow-sm'>
          <%= message %>
        </div>
      <% end %>


    <%= yield %>
  </body>
</html>
